$backgound-color: #e5e5d9;

#root {
  background-color: $backgound-color;
}
.App {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
